<head>
	<link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href = "/stylesheets/app.css">
</head>

<h1 style= "text-align: center">Edit Playlist</h1>

<form action="/playlists/<%= playlist._id %>/?_method=PUT" method="POST">
	<input class="form-control" type ="text" name="playlist[name]" value="<%= playlist.name %>">
	<input class="form-control" type ="text" name="playlist[description]" value="<%= playlist.description %>">
	<input class="form-control" type ="text" name="playlist[image]" value="<%= playlist.image %>">
	<input class="form-control" type ="text" name="playlist[URL]" value="<%= playlist.URL %>">
	<input class="form-control" type ="text" name="playlist[eUrl]" value="<%= playlist.eUrl %>">
	<button>Submit</button>
</form>

<a href="/Playlists">Go Back</a>