<%- include("../partials/header") %>

<div class="container">
	
	<div class="row pt-5">
		<div class="col-sm-6">

			<div class="row mb-2">	
				<% if(currentUser && playlist.author.id.equals(currentUser._id)){ %>
					
					<a class="btn btn-xs btn-warning mr-2 ml-3" href="/playlists/<%= playlist._id %>/edit"><i class="fa fa-scissors fa-lg"></i> Edit</a>

					<form id="deleteForm" action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
							<button class ="btn btn-xs btn-danger"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
					</form>
				<% }; %>
			</div>

			<div class="card">
				<img class ="card-img-top" src = "<%= playlist.image %>">
				<h4 class="card-title"><%= playlist.name %></h4>
				<h6 class="card-subtitletext-muted">Submitted By <%= playlist.author.username %></h6>
				<p class="card-text"><%= playlist.description %></p>
				<a href="<%= playlist.URL %>" class="btn btn-primary"><i class="fa fa-play-circle-o fa-lg"></i> Play Now</a>
			</div>

		</div>

		<div class="col-sm-6 pt-2">
			<p><iframe src="<%= playlist.eUrl %>" width="800" height="1000" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></p> 
		</div>
	</div>
			
</div>


<%- include("../partials/footer") %>